# Quarto / Netlify Build Outputs
/_site/
/contact_files/
/resume_files/
/.quarto/

# R specific files
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.Rapp.history

# OS specific files
.DS_Store

**/*.quarto_ipynb
